/* .spacer1    {
    clear:both; width:100%; height:10px;}
.spacer2    {clear:both; width:100%; height:20px;}
.offcanvas-toggle {
    background: #f8f8f8;
    border: 0px;
    _margin-right: 0px !important;
}
@media (max-width: 992px) {
    .navbar-offcanvas-submenu { background-color: #fff !important; z-index: 9999 !important; padding: 0px;}
    #offcanvas-subtoggle { margin-right: 0px; margin-top: 0px !important; margin-top: 0px; z-index: 99; position:relative; margin-bottom:20px;}
    .navbar-subtoggle a { background: #0d65a7 !important; display: block; width: 100%;  text-align: center;  color: #fff !important;   border-radius: 0px; text-decoration: none;  cursor: pointer; padding:10px;}
 
    }
    @media (min-width: 992px){
        .navbar-toggle {
            display: none;
            }
        }
        
        .panel {
            margin-bottom: 0px;
            padding-bottom:10px;
            background-color: #f2f9ff;
            border: 1px solid #0d65a7;
            border-radius: 0px;
        }
            
        
.cat-menu ul.catmenu { padding:0; margin:0px 8px 8px; color:#7a7a7a; }
.cat-menu ul.catmenu li { padding:7px 0px; margin:0; list-style:none; border-bottom:1px solid #ddd;}
.cat-menu ul.catmenu ul { padding:0px 0px; margin:0 0 0 10px;}
.cat-menu  a {color:#204a77 !important; text-decoration:none; display:block;}
.cat-menu .active> a  {color:#000 !important;}
.cat-menu ul.catmenu li .fa {font-size:9px; border:1px solid #0f75bd; padding:3px 4px; margin-right:0px; color:#0f75bd}
.cat-menu ul.catmenu ul li { padding:5px 0px 5px 0px; margin:0px 0px 0px 0px; border-bottom:1px solid #eee;}
.cat-menu ul.catmenu ul li:last-child {border:0px; padding-bottom:0px}

.panel h2 {font-weight:bold; font-size:20px !important; padding:10px 15px 0px; color:#192c46}
.panel_trigger      {overflow:hidden; display:block; color:#000; text-transform:none; font-weight:bold;}
.panel_trigger > a    {   _background:#fff; color:#000;  text-decoration: none; display: block; position: relative;   outline:none; padding: 5px 40px 0px 5px; -webkit-transition:  color 0.2s ease-in-out; -moz-transition:  color 0.2s ease-in-out; -o-transition:  color 0.2s ease-in-out; -ms-transition:  color 0.2s ease-in-out; transition:  color 0.2s ease-in-out; padding:10px 15px 0px;}
.panel_content          {_background:#fff; padding:5px;}

.checkbox label{
    float: right;
    margin-left: 10px;
}
  */


  /* *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  list-style-type: none;
}
body {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.6;
  color: #252a32;
  background: rgba(0, 0, 0, 0.1);
}
.topBar {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #110135;
}
.menuBar {
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-end;
  width: 100%;
}

.navIcon {
  width: 55px;
  display: flex;
  margin-right: 4rem;
  margin-left: 1.5rem;  
  cursor: pointer;
}
.sideMenu {
  left: 0;
  height: 100%;
  width: 260px;
  position: fixed;
  background: rgb(249, 249, 249);
  transition: all 0.35s ease-out;
}
.sideMenu a {
  display: flex;
  align-content: flex-start;
  text-decoration: none;
  font-weight: 600;
  color:rgba(0, 0, 0, 0.8);
  padding: 1rem 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sideMenu a:hover {
  color: rgb(40, 0, 148);
} */


.spacer1    {
  clear:both; width:100%; height:10px;}
.spacer2    {clear:both; width:100%; height:20px;}
.offcanvas-toggle {
  /*background: #f8f8f8;*/
  border: 0px;
  _margin-right: 0px !important;
}
@media (max-width: 992px) {
  .navbar-offcanvas-submenu { background-color: #fff !important; z-index: 9999 !important; padding: 0px;}
  #offcanvas-subtoggle { margin-right: 0px; margin-top: 0px !important; margin-top: 0px; z-index: 99; position:relative; margin-bottom:20px;}
  .navbar-subtoggle a { background: #0d65a7 !important; display: block; width: 100%;  text-align: center;  color: #fff !important;   border-radius: 0px; text-decoration: none;  cursor: pointer; padding:10px;}

  }
  @media (min-width: 992px){
      .navbar-toggle {
          display: none;
          }
      }
      
      .panel {
          position: fixed;
          left: 800px;
          bottom: 20px;
          height: 550px;
          overflow-y: scroll;
          margin-bottom: 0px;
          padding-bottom:10px;
          background-color: white;
          border: 1px solid #0d65a7;
          border-radius: 0px;
          width:360px;
          bottom: 90px;
      }
          
      
.cat-menu ul.catmenu { padding:0; margin:0px 8px 8px; color:#7a7a7a; }
.cat-menu ul.catmenu li { padding:7px 0px; margin:0; list-style:none; border-bottom:1px solid #ddd;}
.cat-menu ul.catmenu ul { padding:0px 0px; margin:0 0 0 10px;}
.cat-menu  a {color:#204a77 !important; text-decoration:none; display:block;}
.cat-menu .active> a  {color:#000 !important;}
.cat-menu ul.catmenu li .fa {font-size:9px; border:1px solid #0f75bd; padding:3px 4px; margin-right:0px; color:#0f75bd}
.cat-menu ul.catmenu ul li { padding:5px 0px 5px 0px; margin:0px 0px 0px 0px; border-bottom:1px solid #eee;}
.cat-menu ul.catmenu ul li:last-child {border:0px; padding-bottom:0px}

.panel h2 {font-weight:bold; font-size:20px !important; padding:10px 15px 0px; color:#192c46}
.panel_trigger      {overflow:hidden; display:block; color:#000; text-transform:none; font-weight:bold;}
.panel_trigger > a    {   _background:#fff; color:#000;  text-decoration: none; display: block; position: relative;   outline:none; padding: 5px 40px 0px 5px; -webkit-transition:  color 0.2s ease-in-out; -moz-transition:  color 0.2s ease-in-out; -o-transition:  color 0.2s ease-in-out; -ms-transition:  color 0.2s ease-in-out; transition:  color 0.2s ease-in-out; padding:10px 15px 0px;}
.panel_content          {_background:#fff; padding:5px;}

.checkbox label{
  float: right;
  margin-left: 10px;
}